---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>1.	<b>Foguet, C.</b>; Jiang, X.; Ritchie, S.C.; Persyn, E.; Xu, Y.; Ben-Eghan, C.; Di Angelantonio, E.; Danesh, J.; Butterworth, A.S.; Lambert, S.A.; et al. Metabolic reaction fluxes as amplifiers and buffers of risk alleles for coronary artery disease. medRxiv 2024, 2024.08.19.24312222, doi:10.1101/2024.08.19.24312222. Under review in Molecular Systems Biology.</p>

<p>2.	Ritchie, S.C.; Taylor, H.J.; Liang, Y.; Manikpurage, H.D.; Pennells, L.; <b>Foguet, C.</b>; Abraham, G.; Gibson, J.T.; Jiang, X.; Liu, Y.; et al. Integrated clinical risk prediction of type 2 diabetes with a multifactorial polygenic risk score. medRxiv 2024, 2024.08.22.24312440, doi:10.1101/2024.08.22.24312440. Under review in Nature Genetics.</p>

<p>3.	López-Ayllón, B.D.; Marin, S.; Fernández, M.F.; García-García, T.; Fernández-Rodríguez, R.; de Lucas-Rius, A.; Redondo, N.; Mendoza-García, L.; <b>Foguet, C.</b>; Grigas, J.; et al. Metabolic and mitochondria alterations induced by SARS-CoV-2 accessory proteins ORF3a, ORF9b, ORF9c and ORF10. J. Med. Virol. 2024, 96, e29752, doi:10.1002/jmv.29752.</p>

<p>4.	Tarrado-Castellarnau*, M.; <b>Foguet, C.</b>*; Tarragó-Celada, J.; Palobart, M.; Hernández-Carro, C.; Perarnau, J.; Zodda, E.; Polat, I.H.; Marin, S.; Suarez-Bonnet, A.; et al. Glutaminase as a metabolic target of choice to counter acquired resistance to Palbociclib by colorectal cancer cells. bioRxiv 2024, 2024.01.04.574237, doi:10.1101/2024.01.04.574237. Under review in Oncogene.</p>

<p>5.	de Atauri, P.; <b>Foguet, C.</b>; Cascante, M. Control analysis in the identification of key enzymes driving metabolic adaptations: Towards drug target discovery. Biosystems 2023, 104984, doi:10.1016/j.biosystems.2023.104984.</p>

<p>6.	Povo-Retana, A.; Fariñas, M.; Landauro-Vera, R.; Mojena, M.; Alvarez-Lucena, C.; Fernández-Moreno, M.A.; Castrillo, A.; de la Rosa Medina, J.V.; Sánchez-García, S.; <b>Foguet, C.</b>; et al. Immunometabolic actions of trabectedin and lurbinectedin on human macrophages: relevance for their anti-tumor activity. Front. Immunol. 2023, 14, doi:10.3389/fimmu.2023.1211068.</p>

<p>7.	Abrusán, G.; <b>Foguet, C.</b> An Assessment of Quaternary Structure Functionality in Homomer Protein Complexes. Mol. Biol. Evol. 2023, 40, doi:10.1093/molbev/msad070.</p>

<p>8.	Español-Rego, M.; Fernández-Martos, C.; Elez, E.; <b>Foguet, C.</b>; Pedrosa, L.; Rodríguez, N.; Ruiz-Casado, A.; Pineda, E.; Cid, J.; Cabezón, R.; et al. A Phase I-II multicenter trial with Avelumab plus autologous dendritic cell vaccine in pre-treated mismatch repair-proficient (MSS) metastatic colorectal cancer patients; GEMCAD 1602 study. Cancer Immunol. Immunother. 2022, doi:10.1007/s00262-022-03283-5.</p>

<p>9.	Pedrosa, L.*; <b>Foguet, C.</b>*; Oliveres, H.; Archilla, I.; de Herreros, M.G.; Rodríguez, A.; Postigo, A.; Benítez-Ribas, D.; Camps, J.; Cuatrecasas, M.; et al. A novel gene signature unveils three distinct immune-metabolic rewiring patterns conserved across diverse tumor types and associated with outcomes. Front. Immunol. 2022, 13, doi:10.3389/fimmu.2022.926304.</p>

<p>10.	Selivanov, V.A.; Zagubnaya, O.A.; <b>Foguet, C.</b>; Nartsissov, Y.R.; Cascante, M. MITODYN: An Open Source Software for Quantitative Modeling of Mitochondrial and Cellular Energy Metabolic Flux Dynamics in Health and Disease. Methods Mol. Biol. 2022, 2399, 123–149, doi:10.1007/978-1-0716-1831-8_6.</p>

<p>11.	Xu, Y.; Ritchie, S.C.; Liang, Y.; Timmers, P.R.H.J.; Pietzner, M.; Lannelongue, L.; Lambert, S.A.; Tahir, U.A.; May-Wilson, S.; <b>Foguet, C.</b>; et al. An atlas of genetic scores to predict multi-omic traits. Nature 2023, 616, 123–131, doi:10.1038/s41586-023-05844-9</p>

<p>12.	<b>Foguet, C.</b>; Xu, Y.; Ritchie, S.C.; Lambert, S.A.; Persyn, E.; Nath, A.P.; Davenport, E.E.; Roberts, D.J.; Paul, D.S.; Di Angelantonio, E.; et al. Genetically personalised organ-specific metabolic models in health and disease. Nat. Commun. 2022, 13, 7356, doi:10.1038/s41467-022-35017-7.</p>

<p>13.	Frades, I.; <b>Foguet, C.</b>; Cascante, M.; Araúzo-Bravo, M.J. Genome Scale Modeling to Study the Metabolic Competition between Cells in the Tumor Microenvironment. Cancers (Basel). 2021, 13, 4609, doi:10.3390/cancers13184609.</p>

<p>14.	Tarragó-Celada, J.*; <b>Foguet, C.</b>*; Tarrado-Castellarnau, M.; Marin, S.; Hernández-Alias, X.; Perarnau, J.; Morrish, F.; Hockenbery, D.; Gomis, R.R.; Ruppin, E.; et al. Cysteine and Folate Metabolism Are Targetable Vulnerabilities of Metastatic Colorectal Cancer. Cancers (Basel). 2021, 13, 425, doi:10.3390/cancers13030425.</p>

<p>15.	Karakitsou, E.*; <b>Foguet, C.</b>*; Contreras Mostazo, M.G.; Kurrle, N.; Schnütgen, F.; Michaelis, M.; Cinatl, J.; Marin, S.; Cascante, M. Genome-scale integration of transcriptome and metabolome unveils squalene synthase and dihydrofolate reductase as targets against AML cells resistant to chemotherapy. Comput. Struct. Biotechnol. J. 2021, 19, 4059–4066, doi:10.1016/j.csbj.2021.06.049.</p>

<p>16.	de Atauri, P.; Tarrado-Castellarnau, M.; Tarragó-Celada, J.; <b>Foguet, C.</b>; Karakitsou, E.; Centelles, J.J.; Cascante, M. Integrating systemic and molecular levels to infer key drivers sustaining metabolic adaptations. PLoS Comput. Biol. 2021, 17, e1009234, doi:10.1371/journal.pcbi.1009234.</p>

<p>17.	Emami Khoonsari, P.; Moreno, P.; Bergmann, S.; Burman, J.; Capuccini, M.; Carone, M.; Cascante, M.; De Atauri, P.; <b>Foguet, C.</b>; Gonzalez-Beltran, A.N.; et al. Interoperable and scalable data analysis with microservices: Applications in metabolomics. Bioinformatics 2019, 35, doi:10.1093/bioinformatics/btz160.</p>

<p>18.	Karakitsou, E.*; <b>Foguet, C.</b>*; de Atauri, P.; Kultima, K.; Khoonsari, P.E.; Martins dos Santos, V.A.P.; Saccenti, E.; Rosato, A.; Cascante, M. Metabolomics in systems medicine: an overview of methods and applications. Curr. Opin. Syst. Biol. 2019, 15, 91–99, doi:10.1016/j.coisb.2019.03.009.</p>

<p>19.	Peters, K.; Bradbury, J.; Bergmann, S.; Capuccini, M.; Cascante, M.; de Atauri, P.; Ebbels, T.M.D.; <b>Foguet, C.</b>; Glen, R.; Gonzalez-Beltran, A.; et al. PhenoMeNal: processing and analysis of metabolomics data in the cloud. Gigascience 2019, 8, doi:10.1093/gigascience/giy149.</p>

<p>20.	<b>Foguet, C.</b>; Jayaraman, A.; Marin, S.; Selivanov, V.A.; Moreno, P.; Messeguer, R.; de Atauri, P.; Cascante, M. p13CMFA: Parsimonious 13C metabolic flux analysis. PLOS Comput. Biol. 2019, 15, e1007310, doi:10.1371/journal.pcbi.1007310.</p>

<p>21.	Katzir, R.; Polat, I.H.; Harel, M.; Katz, S.; <b>Foguet, C.</b>; Selivanov, V.A.; Sabatier, P.; Cascante, M.; Geiger, T.; Ruppin, E. The landscape of tiered regulation of breast cancer cell metabolism. Sci. Rep. 2019, 9, doi:10.1038/s41598-019-54221-y.</p>

<p>22.	Balcells, C.*; <b>Foguet, C.</b>*; Tarragó-Celada, J.*; de Atauri, P.; Marin, S.; Cascante, M. Tracing metabolic fluxes using mass spectrometry: Stable isotope-resolved metabolomics in health and disease. TrAC - Trends Anal. Chem. 2019, 120, doi:10.1016/j.trac.2018.12.025.</p>

<p>23.	Martín-Bernabé, A*.; Balcells, C.*; Tarragó-Celada*, J.; <b>Foguet, C.</b>*; Bourgoin-Voillard, S.; Seve, M.; Cascante, M. The importance of post-translational modifications in systems biology approaches to identify therapeutic targets in cancer metabolism. Curr. Opin. Syst. Biol. 2017, 3, 161–169, doi:10.1016/j.coisb.2017.05.011.</p>

<p>24.	<b>Foguet, C.</b>; Marin, S.; Selivanov, V.A.; Fanchon, E.; Lee, W.N.P.; Guinovart, J.J.; de Atauri, P.; Cascante, M. HepatoDyn: A Dynamic Model of Hepatocyte Metabolism That Integrates13C Isotopomer Data. PLoS Comput. Biol. 2016, 12, e1004899, doi:10.1371/journal.pcbi.1004899.</p>

<p>25.	de Mas, I.M.; Aguilar, E.; Jayaraman, A.; Polat, I.H.; Martín-Bernabé, A.; Bharat, R.; <b>Foguet, C.</b>; Milà, E.; Papp, B.; Centelles, J.J.; et al. Cancer cell metabolism as new targets for novel designed therapies. Future Med. Chem. 2014, 6, 1791–1810, doi:10.4155/fmc.14.119.</p>

<p><i>*Authors listed as having contributed equally to the publication</i></p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



